{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleQuote": true,
  "printWidth": 150,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.css", "*.html", "*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
