{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleQuote": true,
  "printWidth": 150,
  "[python]": {
    "tabWidth": 4
  },
  "[javascript]": {
    "tabWidth": 4
  },
  "[typescript]": {
    "tabWidth": 4
  },
  "[html]": {
    "tabWidth": 2
  },
  "[css]": {
    "tabWidth": 2
  },
  "[json]": {
    "tabWidth": 2
  }
}
