:root {
    --success-color: green;
    --error-color: rgb(158, 5, 5);
    --warning-color: rgb(185, 122, 3);
    --color-text: aliceblue;
    --background-color: rgba(0, 0, 0, 0);
    --primary-color: rgba(3, 14, 107);
    --primary-color_transparent: rgba(3, 14, 107, 0.6);
    --background-gradient: linear-gradient(to right, rgb(3, 14, 107), #666cb6);
    --button-active: rgba(133, 37, 2, 0.4);

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
}

*,
*:before,
*:after {
    color: var(--color-text);
    background-color: transparent;
    border-color: currentColor;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
video,
svg {
    display: block;
    max-width: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
    /* width: 100dvh; */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    font-size: var(--fs-400);
    background: url('1230968-ciel-etoile-gratuit-photo.jpeg');
    background: url('7210104-galaxy-stars-in-the-univers-hors-terre-abstract-graphic-design-wallpaper-card-3d-gratuit-photo.jpg');
    background: url('7359962-galaxy-stars-in-the-univers-hors-terre-abstract-graphic-design-wallpaper-card-3d-gratuit-photo.jpg');
    background-size: cover;
}
main {
    position: relative;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    /* flex-grow: 1; */
    .content-wrapper {
        position: relative;
        height: 100%;
    }
}
canvas {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.content-grid {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --breakout: minmax(0rem, 4rem);
    --feature: minmax(0rem, 5rem);
    --content: min(75ch, 100% - calc((var(--gap)) * 2));
    display: grid;
    grid-template-columns:
        [full-width-start] var(--full)
        [breakout-start] var(--breakout)
        [content-start] var(--content) [content-end]
        var(--breakout) [breakout-end]
        var(--full) [full-width-end];
    > :not(.breakout, .full-width) {
        grid-column: content;
    }
    > .breakout {
        grid-column: breakout;
    }
    > .full-width {
        grid-column: full-width;
        display: grid;
        grid-template-columns: inherit;
    }
}

h1 {
    font-size: var(--fs-700);
}

.all-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    > button {
        flex-basis: 0%;
        flex-grow: 1;
        margin: 0.2em;
    }
    &:has(button:focus:focus-visible) button:not(:focus:focus-visible),
    &:has(button:hover) button:not(:hover) {
        filter: blur(1px);
    }
}
button {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-inline: 0.2em;
    transition: scale ease-in-out 300ms, filter ease-in-out 300ms;
    &:is(:focus:focus-visible, :hover) {
        scale: 1.1;
        z-index: 10;
    }
    &:is(:active, [active]) {
        background-color: var(--button-active);
    }
    &:not(:hover) {
        animation: zIndexHack 100ms;
    }
}

#participants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    > div {
        flex-basis: 20%;
        flex-grow: 1;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0.4em 0em;
    }
}
.undefined {
    background-color: var(--primary-color_transparent);
    --color-text: aliceblue;
}
.joueur-rouge {
    background-color: brown;
    --color-text: black;
}
.joueur-noir {
    background-color: black;
    --color-text: white;
}
.joueur-3 {
    background-color: rgb(11, 167, 6);
    --color-text: black;
}
.joueur-4 {
    background-color: rgb(27, 161, 161);
    --color-text: black;
}
.joueur-5 {
    background-color: rgb(235, 211, 78);
    --color-text: black;
}
.section-details {
    display: flex;
    justify-content: space-between;
    > div {
        max-width: 50%;
    }
}

.response-pointInfos {
    display: grid;
    grid-template-columns: [name-start value-start select-start] minmax(10ch, 1fr) [name-end] minmax(9ch, 15ch) [ icon-start] 1.5em [icon-end value-end select-end];
    grid-template-rows: [name-start select-start] 2fr [icon-start] 1fr [name-end value-start] 1fr [icon-end] 2fr [value-end select-end];
    border: 2px solid;
    border-radius: 10px;
    align-items: center;
    .response:has(&) {
        height: fit-content;
        row-gap: 1em;
    }
    i {
        grid-area: icon;
        z-index: 1;
    }
    > div:has(select) {
        grid-area: select;
        position: relative;
        &::after,
        &::before {
            content: '';
            position: absolute;
            right: 2em;
            border: 7px solid transparent;
            pointer-events: none;
        }
        &::after {
            top: 52%;
            border-top-color: currentColor;
        }
        &::before {
            bottom: 52%;
            border-bottom-color: currentColor;
        }
    }
    input {
        border: 0;
        border-radius: 0;
        outline: 1px solid black;
    }
    .value-point-infos,
    .name-point-infos {
        padding: 0.2em 0.5em;
        display: flex;
        align-items: center;
    }
    .name-point-infos {
        grid-area: name;
    }
    .value-point-infos {
        grid-area: value;
    }
}
select {
    appearance: none;
    border: none;
    width: 100%;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
    display: flex;
    flex-direction: column;
    .undefined {
        background-color: var(--primary-color);
    }
}
form {
    input {
        min-width: 40ch;
    }
}
input {
    border: 3px solid;
    margin-block: 0.2em;
    border-radius: 5px;
    padding-inline: 0.2em;
    &:valid {
        border-color: var(--success-color);
    }
    &:user-invalid {
        border-color: var(--error-color);
    }
    &:focus:invalid {
        border-color: var(--warning-color);
    }
    &:focus {
        outline: 1px;
    }
}

footer {
    width: 100%;
    background-color: darkgray;
    --color-text: black;
    font-size: var(--fs-300);
}
@keyframes zIndexHack {
    0%,
    100% {
        z-index: 100;
    }
}
