:root {
    --success-color: green;
    --error-color: rgb(158, 5, 5);
    --warning-color: rgb(185, 122, 3);
}
.response-pointInfos {
    display: grid;
    grid-template-columns: 20px 150px 200px 1fr;
    /* columns: 4; */
    /* justify-content: space-around; */
    border: 2px solid;
    /* width: 700px; */
}

.response-pointInfos > *:nth-child(1) {
    display: flex;
    justify-content: end;
}
.response-pointInfos {
    align-items: center;
}

#participants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button:active,
button[active] {
    width: 150px;
}

form input {
    min-width: 25rem;
}

.inputToEnd {
    text-align: end;
}

input {
    border: 3px solid black;
    border-radius: 5px;
}
.response-pointInfos input {
    border: 0;
    border-radius: 0;
    outline: 1px solid black;
}
input:valid {
    border-color: var(--success-color);
}

input:user-invalid {
    border-color: var(--error-color);
}
input:focus:invalid {
    border: 3px solid black;
    border-radius: 5px;
    outline: 0;
    border-color: var(--warning-color);
}
