:root {
    --success-color: green;
    --error-color: rgb(158, 5, 5);
    --warning-color: rgb(185, 122, 3);
    --color-text: aliceblue;
    --background-color: rgba(0, 0, 0, 0);
    --primary-color: rgba(3, 14, 107);
    --primary-color_transparent: rgba(3, 14, 107, 0.5);
    --background-gradient: linear-gradient(to right, rgb(3, 14, 107), #666cb6);
    --button-active: rgba(133, 37, 2, 0.4);

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
}

*,
*:before,
*:after {
    color: var(--color-text);
    /* background-color: var(--background-color); */
    background-color: transparent;
    border-color: currentColor;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
video,
svg {
    display: block;
    max-width: 100%;
}

canvas {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

main {
    position: relative;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    flex-grow: 1;
    /* & > :not(.content-wrapper) {
        align-self: auto;
        height: fit-content;
        background-color: #666cb6;
    } */
    .content-wrapper {
        position: relative;
        height: 100%;
        /* align-self: max; */
        /* background-color: red; */
    }
}

.content-grid {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --popout: minmax(0rem, 2rem);
    --feature: minmax(0rem, 5rem);
    --content: min(75ch, 100% - calc((var(--gap)) * 2));
    display: grid;
    grid-template-columns:
        [full-width-start] var(--full)
        [breakout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [breakout-end]
        var(--full) [full-width-end];

    > :not(.breakout, .full-width) {
        grid-column: content;
    }
    > .breakout {
        grid-column: breakout;
    }
    > .full-width {
        grid-column: full-width;
        display: grid;
        grid-template-columns: inherit;
    }
}
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}
/* .content-grid {
    > :not(.breakout, .full-width),
    > .full-width > :not(.breakout, .full-width) {
        margin-inline: 200px;
    }
    > .breakout {
        margin-inline: 100px;
    }
    > .full-width {
        margin-inline: 0;
    }
} */
.d-none {
    display: none;
}
h1 {
    font-size: var(--fs-700);
}
html,
body {
    height: 100%;
    font-size: var(--fs-400);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    background: url('1230968-ciel-etoile-gratuit-photo.jpeg');
    background: url('7210104-galaxy-stars-in-the-univers-hors-terre-abstract-graphic-design-wallpaper-card-3d-gratuit-photo.jpg');
    background: url('7359962-galaxy-stars-in-the-univers-hors-terre-abstract-graphic-design-wallpaper-card-3d-gratuit-photo.jpg');
    background-size: cover;
    /* background-size: contain; */
}
select {
    appearance: none;
    border: none;
    width: 100%;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
    .undefined {
        background-color: var(--primary-color);
    }
}
div:has(> select) {
    position: relative;
    border-left: 0.2em solid;
    border-right: 0.2em solid;
    padding: 0 0.2em;
    &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid;
        pointer-events: none;
    }
}

footer {
    /* padding-left: 1rem; */
    width: 100%;
    /* --background-color: darkgray; */
    background-color: darkgray;
    --color-text: black;
    /* position: sticky;
    bottom: 0; */
}
.all-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0.5rem 2rem; */
    /* width: 50%; */
    font-size: var(--fs-300);
    > button {
        flex-basis: 100%;
        margin: 0.2rem;
    }
    &:has(button:focus:focus-visible) button:not(:focus:focus-visible),
    &:has(button:hover) button:not(:hover) {
        filter: blur(1px);
    }
}
button {
    border-radius: 10px;
    /* --background-color: rgba(0, 0, 0, 0.4); */
    background-color: rgba(0, 0, 0, 0.4);
    padding-inline: 0.2rem;
    transition: scale ease-in-out 300ms, filter ease-in-out 300ms;
    &:is(:focus:focus-visible, :hover) {
        scale: 1.1;
        z-index: 10;
    }
    &:is(:active, [active]) {
        /* --background-color: var(--button-active); */
        background-color: var(--button-active);
    }
    &:not(:hover) {
        animation: zIndexHack 100ms;
    }
}

#participants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    > div {
        flex-basis: 20%;
        flex-grow: 1;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0.5rem 0rem;
    }
}
.undefined {
    /* --background-color: var(--primary-color_transparent); */
    background-color: var(--primary-color_transparent);
    --color-text: aliceblue;
}
.joueur-rouge {
    /* --background-color: brown; */
    background-color: brown;
    --color-text: black;
}
.joueur-noir {
    /* --background-color: black; */
    background-color: black;
    --color-text: white;
}
.joueur-3 {
    /* --background-color: black; */
    background-color: rgb(11, 167, 6);
    --color-text: black;
}
.joueur-4 {
    /* --background-color: black; */
    background-color: rgb(27, 161, 161);
    --color-text: black;
}
.joueur-5 {
    /* --background-color: black; */
    background-color: rgb(235, 211, 78);
    --color-text: black;
}
.section-details {
    display: flex;
    justify-content: space-between;
    > div {
        max-width: 50%;
    }
}

.response-pointInfos {
    display: grid;
    grid-template-columns: 1.5em 15ch 15ch 1fr;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        /* &::before {
            height: 15px;
        } */
    }
    > div {
        padding-inline: 0.3rem;
    }
    .response:has(&) {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    input {
        border: 0;
        border-radius: 0;
        outline: 1px solid black;
    }
}
.inputToEnd {
    display: flex;
    justify-content: end;
    border-right: 0.3rem solid;
}

form {
    input {
        min-width: 25rem;
    }
}
input {
    border: 3px solid;
    margin-block: 0.2rem;
    border-radius: 5px;
    padding-inline: 0.2rem;
    &:valid {
        border-color: var(--success-color);
    }
    &:user-invalid {
        border-color: var(--error-color);
    }
    &:focus:invalid {
        border-color: var(--warning-color);
    }
    &:focus {
        outline: 1px;
    }
}

div:has(.grid) {
    --background-color: white;
    background-color: white;
    display: none;
    padding: 1rem;
}
.grid {
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    border-left: 7px solid black;
    border-top: 7px solid black;
    width: fit-content;
    border-radius: 10px;
    /* overflow: hidden; */
}
.grid > * {
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    --color-text: black;
    display: flex;
    justify-content: center;
}
.grid > *:last-child,
.grid > *:nth-child(3n):nth-last-child(-n + 3) {
    border-bottom-right-radius: 10px;
}

@keyframes zIndexHack {
    0%,
    100% {
        z-index: 100;
    }
}
